<div class="row">
    <div class="col-md-6">
        <ul id="status-buttons" class="nav nav-tabs">
            <li><a ui-sref-active="active" ui-sref=".profile"><span class="glyphicon glyphicon-user"></span></a></li>
            <li><a ui-sref-active="active" ui-sref=".presentation"><span class="glyphicon glyphicon-cloud"></span></a></li>
            <li><a ui-sref-active="active" ui-sref=".summary"><span class="glyphicon glyphicon-credit-card"></span></a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="processForm()" class="form-horizontal" role="form"d name="vm.form">
            <div ui-view="">
            </div>
        </form>
    </div>
</div>